.menu{
    display: flex;
    justify-content: space-between;
    background-color:#000000;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}
body{
    margin: 0px;
    /* modify background color here*/
    background-color:rgb(19, 230, 230);
    
}
.b {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
   font-size: xx-large;
    text-decoration: khaki;
    
}

h3{
    color: indigo;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}
.origami {
    
    border-radius: 20px;
    background-color: #ffffff;
    /* modify margin and padding here*/
    padding: 30px;
    margin: 25px;
    width:310px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.bodyimg{
    position: relative;
    text-align: center;
    color:khaki;
}
